include default.pug
body(style="background-color: rgba(243, 246, 249, 0.6)")
    nav.navbar.navbar-expand.navbar-dark.mb-4(style="background-color: #2f3c7e")
      .container-fluid
        a.navbar-brand.text-white(href="#")
          img(src="/img/logo.png", alt="", width="120", height="70")
        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.text-white.fs-5(data-bs-toggle="modal", data-bs-target="#loginModal", href="#") Admin
            li.nav-item.active
              a.nav-link.text-white.fs-5(href="#") Заказы
            li.nav-item
              a.nav-link.text-white.fs-5(data-bs-toggle="modal", data-bs-target="#exampleModal", href="#") Создать заказы
    .container
      h1.mt-5.mb-4 Admin Dashboard
      table.table.table-striped
        thead
          tr
            th # 
            th Имя замерщика
            th Адрес
            th Телефон
            th Вид жалюзи
            th Размер(Ш х В)
            th Срок
            th Сумма
            th Комментарий
        tbody#ordersTableBody
         each order, index in data
          tr
            td= index + 1
            td= order.name
            td= order.address
            td= order.phone
            td= `${order.type}, ${order.type2}, ${order.mechanism}`
            td= `${order.width} x ${order.height}`
            td= order.date
            td= order.sum
            td= order.comment
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
