doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sunroll
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body(style="background-color: rgba(243, 246, 249, 0.6)")
    nav.navbar.navbar-expand.navbar-dark.mb-4(style="background-color: #2f3c7e")
      .container-fluid
        a.navbar-brand.text-white(href="#")
          img(src="/img/logo.png", alt="", width="120", height="70")
        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.text-white.fs-5(data-bs-toggle="modal", data-bs-target="#loginModal", href="#") Admin
            li.nav-item.active
              a.nav-link.text-white.fs-5(href="#") Склад
            li.nav-item.active
              a.nav-link.text-white.fs-5(href="#") Заказы
              span.counter=status_counter
            li.nav-item
              a.nav-link.text-white.fs-5(data-bs-toggle="modal", data-bs-target="#exampleModal", href="#") Создать заказы
    table.table.table-sm(style="background-color: #fff; box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);")
      thead
        tr
          th(scope="col") #
          th(scope="col") Имя замерщика
          th(scope="col") Вид жалюзи
          th(scope="col") Срок
          th(scope="col") Комментарий
          th(scope="col") Статус
      tbody
        each order, index in data
         tr(class=(order.status === 3) ? 'finished' : '', data-order-id=`${order._id}`)
            td= index + 1
            td= `${order.name}`
            td= `${order.type}, ${order.type2}, ${order.mechanism}`
            td= order.date
            td= order.comment
            if order.status === 1
              td 
                button.btn.btn-primary(type="button") Принять
            else if order.status === 2
              td
                button.btn.btn-success(type="button") Готово
            else
              td 
                img(src="/img/complete.svg", alt="", height="30")


    .modal.fade#orderModal(tabindex="-1", aria-labelledby="orderModalLabel", aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
          .modal-header
            h5.modal-title#orderModalLabel Order Details
            button.btn-close(data-bs-dismiss="modal", aria-label="Close")
          .modal-body(style="background-color: #75c8d573")
            //- Order details
            .row
              .col
                p
                  strong Имя замерщика:
                p#orderName.value Jason
                p
                  strong Адрес:
                p#orderAddress.value Talas
                p
                  strong Телефон номер:
                p#orderPhone.value smth
                p
                  strong Срок:
                p#orderDate.value smth
                p
                  strong Комментарий:
                p#orderComment.value smth
              .col
                p
                  strong Вид жалюзи:
                p#blindType.value something
                p
                  strong Механизм:
                p#mechanism.value smth
                p
                  strong Размер(Ш х В):
                p#blindSize.value smth

            //- Add more order details as needed
          .modal-footer
            button.btn.btn-secondary(data-bs-dismiss="modal") Close



    //- Modal
    .modal.fade#exampleModal(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title(id="exampleModalLabel") Создать заказ
            button.btn-close(data-bs-dismiss="modal", aria-label="Close")
          .modal-body
            //- Form content goes here
            form#myForm
              .mb-2
                label(for="inputText") Имя замерщика
                input.form-control(type="text", id="inputText", name="name", required)
              .mb-2
                label(for="inputAddress") Адрес
                input.form-control(type="text", id="inputAddress", name="address", required)
              .mb-2
                label(for="inputNumber") Телефон номер
                input.form-control(type="tel", id="inputNumber", name="phone", required)
              .mb-3
                label.form-label Вид жалюзи
                select.form-select(aria-label="Default select example", name="type")
                  option(value="Зебра", selected) Зебра
                  option(value="Вертикал") Вертикал
                  option(value="Ролл") Ролл
                  option(value="Плиссе") Плиссе
                  option(value="Дерево") Дерево
                  option(value="Москитная сетка") Москитная сетка
              .input-group.mb-3
                span.input-group-text Ширина и высота
                input.form-control(type="number", aria-label="Ширина", name="width", required)
                input.form-control(type="number", aria-label="Высота", name="height", required)
              .mb-2.row
                .col-sm-6
                  .form-check
                    input.form-check-input(type="radio", name="type2", value="Ткань", id="flexRadioDefault1")
                    label.form-check-label(for="flexRadioDefault1") Ткань
                  .form-check
                    input.form-check-input(type="radio", id="flexRadioDefault2", name="type2", value="Мех", checked)
                    label.form-check-label(for="flexRadioDefault2") Мех
                label.col-sm-2.col-form-label Механизм
                .col-sm-2
                  select.form-select(aria-label="Default select example", name="mechanism")
                    option(value="32", selected) 32
                    option(value="25") 25
                    option(value="17") 17
              .mb-2
                label(for="inputSum") Сумма
                input.form-control(type="number", id="inputSum", name="sum", required)
              .mb-3
                label(for="inputAddress") Срок
                input.form-control(type="date", id="inputDate", name="date", required)
              .form-floating.mb-2
                textarea.form-control(placeholder="Leave a comment here", name="comment", id="floatingTextarea")
                label(for="floatingTextarea") Комментарий
              button.btn.btn-primary(type="submit") Создать

    //- Login Modal
    .modal.fade#loginModal(tabindex="-1", aria-labelledby="loginModalLabel", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title(id="loginModalLabel") Admin Login
            button.btn-close(data-bs-dismiss="modal", aria-label="Close")
          .modal-body
            form#loginForm
              .mb-3
                label(for="username", class="form-label") Username
                input.form-control(type="text", id="username", name="username", required)
              .mb-3
                label(for="password", class="form-label") Password
                input.form-control(type="password", id="password", name="password", required)
                button.btn.btn-primary(type="submit") Login

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js")
    script(src="/js/main.js")
